/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
.DS_Store
.phpactor.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/storage/pail
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/docker/mysql-init
Thumbs.db